.jumbotron {
    background-image: url('../images/heroimage.jpg');
    background-size: cover;
    background-position: top left;
    margin-top: 40px;
}

.lead {
    font-size: 1.6rem;
    color: var(--red);
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    color: var(--red);
}

h1,
.h1 {
    margin-bottom: 2rem;
}

h2,
.h2 {
    margin-top: 1rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.2rem;
}

.faq {
    flex: 1 300px;
    padding: .5rem 1rem;
}

.tipology {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.inter .card-hotel {
    height: 100%;
}

footer {
    background-color: #ecc776;
    color: var(--dark);
    margin-top: 2rem;
    padding-top: 3rem;
}

.icon {
    font-size: 2.6rem;
}

.address {
    margin-bottom: .5rem;
}

li {
    list-style-type: none;
    height: 2.3rem;
}

small {
    color: var(--red);
}

.menu-item .btn {
    display: inline-block;
    margin: .5rem 0;
}

.fa-facebook-square {
    color: #38529a;
}

.fa-twitter-square {
    color: #03a4ec;
}

.fa-linkedin {
    color: #0073b1;
}

.copy {
    margin-top: 2rem;
}

a {
    color: var(--red);
}

label {
    user-select: none;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"]:after {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid grey;
    border-radius: 3px;
    vertical-align: top;
}

input[type="checkbox"]:checked:after {
    content: '✓';
    background-color: var(--red);
    color: white;
}

.thead-danger {
    background-color: var(--red);
    color: var(--light);
}

.oi-star {
    color: var(--red);
}

@media screen and (max-width: 992px){
    .oi-star {
        font-size: .4rem;
    }
}

.card-subtitle {
    margin-top: .7rem;
}

.card {
    display: inline-block;
    break-inside: avoid;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.img-fluid {
    display: block;
    border-radius: calc(.25rem - 1px);
}

.tab-content {
    padding-top: 1rem;
}

.nav-link {
    padding: .35rem 1rem;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--red);
}

.tab-pane .card-header {
    background-color: var(--red);
    color: var(--white);
}

.tab-pane .list-group-item {
    color: var(--red);
}

.inter-card {
    font-weight: bold;
    color: var(--red);
}

.inter-card-item {
    line-height: 1.4;
    padding: .5rem;
    height: auto;
}

@media (max-width: 576px) {
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6;
    }

    .nav-tabs .nav-link {
        border: 1px solid #dee2e6;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .nav-tabs .nav-item {
        margin-bottom: .25rem;
    }

    .nav-tabs {
        border-bottom: none;
    }
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: none;
}

.accordion .card {
    display: block;
}

.btn-link {
    color: var(--red);
}

.tab-pane .accordion .card-header {
    background-color: rgba(0,0,0,.03);
}

#comentarios {
    margin-bottom: 10rem;
}

.modal-title {
    color: var(--red);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}